.card {
}
.scroll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 5% 7%;
  /* grid-auto-columns: 200px; */
}

.container {
  box-shadow: 0 4px 8px 0 hsl(35, 11%, 61%);
  transition: 0.3s;
  width: 100%;
  border-radius: 15px;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-text {
  padding: 2px 16px;
}
.card-image {
  width: 80%;
  height: 200px;
  margin-bottom: 20px;
}
